<!-- This is the navigation that exists in every page -->

<!-- Banner -->
<!-- Original Code
<div class="p-5 text-center bg-image" style="background-image: url('/assets/masthead.jpeg'); height: 200px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="my-3">Plant Diary</h1>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs nav-color opacity-75">
    <% if @current_user.present? %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Welcome, <%= @current_user.nickname %></a>
            <ul class="dropdown-menu">
                <%= link_to "Log Out", login_path, :method => :delete, :class => 'dropdown-item' %>
            </ul>
        </li>
        <li class="nav-item">
            <%= link_to "My Journals", journals_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to "My Plants", plants_path, :class => 'nav-link' %>
        </li>
    <% else %>
        <li class="nav-item">
            <%= link_to 'Home', root_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">About</a>
        </li>
        <li class="nav-item">
            <%= link_to 'Sign Up!', new_user_path, :class => 'nav-link' %>
        </li>
    <% end %>
</ul>
-->

<div class="masthead">
    <div class="masthead-title">
        <h1>Plant <span>Diary<span></h1>
    </div>
</div>

<nav>
    <div class="nav-container">
        
    </div>
</nav>