<div class="form-container">

    <%= form_for(@plant, :html => { :multipart => true } ) do |f| %>
        <div class="form-rows">
            <%= f.label :name, :class => 'form-label' %>
            <%= f.text_field :name, :required => true, :class => 'form-control' %>
        </div>

        <div class="form-rows">
            <%= f.label :species, :class => 'form-label' %>
            <%= f.text_field :species, :class => 'form-control'%>
        </div>

        <div class="form-rows">
            <%= f.label :last_watered, :class => 'form-label' %>
            <%= f.date_field :last_watered, :class => 'form-control' %>
        </div>

        <div class="form-rows">
            <%= f.label :cycle, "Watering cycle in days", :class => 'form-label' %>
            <%= f.number_field :cycle, :class => 'form-control' %>
        </div>

        <div class="form-rows">
            <%= f.label :image, :class => 'form-label' %>
            <%= f.cl_image_upload :image, :class => 'form-control' %>
        </div>

        <div class="form-rows">
            <div class="form-collection-label"> Select which journal your plant goes to:</div>
            <div class="form-collection"><%= f.collection_check_boxes(:journal_ids, @current_user.journals.all, :id, :name, input_html: { required: true }) %></div>
        </div>

        <div class="form-rows">
            <%= f.submit :class => 'form-btn' %>
        </div>
    <% end %>

</div>
