<ul class="nav nav-tabs journal-control">
    <% if @current_user.present? %>
        <li class="nav-item">
            <%= link_to "Edit", edit_plant_path %>
            <%= link_to 'Delete', @plant, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
        </li>
    <% end %>
</ul>

<h1><%= @plant.name %></h1>

<% if @plant.image.present? %>
    <%= image_tag @plant.image, :class => 'img-feature' %>
<% end %>

    <ul>
        <li>Name: <%= @plant.name %></li>
        <li>Species: <%= @plant.species %></li>
        <li>Last watered: <%= @plant.last_watered %></li>
        <li>Cycle: <%= @plant.cycle %> days</li>
    </ul>
