<!-- Sub nav -->
<div class="nav-control">
    <div class="nav-control-container">
        <% if @current_user.present? %>
            <li class="menu-item">
                <p class="nav-control-text"><%= @plant.name %></p>
            </li>
            <span class="nav-control-dividers">|</span>
            <li class="menu-item">
                <%= link_to "Edit", edit_plant_path, :class => 'nav-control-link' %>
            </li>
            <li class="menu-item">
                <%= link_to 'Delete', @plant, :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'nav-control-link' %>
            </li>
            <span class="nav-control-dividers">|</span>
        <% end %>
    </div>
</div>

<!-- content -->
<div class="feature-grid-container">
    <div class="h-5 h-8 h-13"></div>
    <div class="grid-item">
        <% if @plant.image.present? %>
            <%= @plant.name %>
            <%= cl_image_tag @plant.image, :class => 'img-feature' %>
        <% end %>
    </div>
    <div class="grid-item">
        <p class="feature-text"><span class="span-bold">Name:</span><%= @plant.name %></p>
        <p class="feature-text"><span class="span-bold">Species:</span> <%= @plant.species %></p>
        <p class="feature-text"><span class="span-bold">Last watered:</span> <%= @plant.last_watered %></p>
        <p class="feature-text"><span class="span-bold">Cycle:</span> <%= @plant.cycle %> days</p>
        <span class="span-bold">Journals:</span>
        <% @plant.journals.each do |journal| %>
            <p class="feature-text"><%= journal.name %></p>
        <% end %>
    </div>  
</div>