<div class="form-container">

    <%= form_for @journal do |f| %>
        <div class="form-rows">
            <%= f.label :name, :class => 'form-label' %>
            <%= f.text_field :name, :class => 'form-control' %>
        </div>

        <div class="form-rows">
            <%= f.label :discord, :class => 'form-label' %>
            <%= f.text_area :discord, :size => '50x2', :class => 'form-control' %>
        </div>

        <div class="form-rows">
            <%= f.submit :class => 'form-btn' %>
        </div>
    <% end %>

</div>
