<%# Individual contents of journal i.e. shows plant info  %>
<!-- Sub nav -->
<div class="nav-control">
    <div class="nav-control-container">
        <% if @current_user.present? %>
            <li class="menu-item">
                <p class="nav-control-text"><%= @journal.name %></p>
            </li>
            <span class="nav-control-dividers">|</span>
            <li class="menu-item">
                <%= link_to 'Edit', edit_journal_path, :class => 'nav-control-link' %>
            </li>
            <li class="menu-item">
                <%= link_to 'Delete', @journal, :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'nav-control-link' %>
            </li>
            <span class="nav-control-dividers">|</span>
            <li class="menu-item">
                <%= link_to 'Add Plant', new_plant_path, :class => 'nav-control-link' %>
            </li>
        <% end %>
    </div>
</div>

<!-- content -->
<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center flex-wrap">
                <% @journal.plants.each do |plant| %>
                    <figure class="figure">
                        <% if plant.image.present? %>
                            <%= link_to cl_image_tag(plant.image, :class => 'img-thumb'), plant %>
                        <% end %>
                        <figcaption class="figure-caption text-center"><%= plant.name %></figcaption>
                    </figure>
                <% end %>  
            </div>
        </div>
    </div>
</div>