<h1><%= @journal.name %></h1>

<%= link_to 'Edit', edit_journal_path %>
<%= link_to 'Delete', @journal, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>

<% @journal.plants.each do |plant| %>
    
    <%= image_tag plant.image %>
    <ul>
        <li>Name: <%= plant.name %></li>
        <li>Species: <%= plant.species %></li>
        <li>Last watered: <%= plant.last_watered %></li>
        <li>Cycle: <%= plant.cycle %> days</li>
    </ul>
    

<% end %>