<!DOCTYPE html>
<html class="h-100">
    <head>
        <title>Plant Diary</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css2?family=Cantora+One&display=swap" rel="stylesheet"> 
        <%= cloudinary_js_config %>
    </head>

    <body class="d-flex flex-column h-100">
        <!-- rendering main nav -->
        <%= render :partial => 'shared/nav_all' %>
    
        <div class="container">
            <%= yield %>
        </div>
        <!-- rendering footer -->
        <%= render :partial => 'shared/footer' %>
    </body>
</html>
